<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Articles</title>
  <link rel="stylesheet" type="text/css" href="css.css">
</head>
<body>
<h1>List of Articles</h1>
<a th:href="@{/new}">Add New Article</a>
<table border="1">
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Category</th>
    <th>Reporter Name</th>
    <th>Reporter Email</th>
  </tr>
  <tr th:each="article : ${articles}">
    <td th:text="${article.title}">Title</td>
    <td th:text="${article.content}">Content</td>
    <td th:text="${article.category}">Category</td>
    <td th:text="${article.reporterName}">Reporter Name</td>
    <td th:text="${article.reporterEmail}">Reporter Email</td>
  </tr>
</table>
</body>
</html>
