<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Index</title>
  <link rel="stylesheet" th:href="styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Anderlechtse Gazette</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/new">New</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
      <!-- Login and Register Buttons -->
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-primary my-2 my-sm-0 mr-2" type="button" onclick="location.href='/login'">Login</button>
        <button class="btn btn-primary my-2 my-sm-0" type="button" onclick="location.href='/register'">Register</button>
      </form>
    </div>
  </nav>
</header>

<main class="container mt-5">
  <h1>Latest News Articles</h1>
  <table class="table">
    <thead>
    <tr>
      <th>Title</th>
      <th>Reporter Name</th>
      <th>Details</th>
      <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="article : ${articles}">
      <td th:text="${article.name}">Article Title</td>
      <td th:text="${article.reporterName}">Reporter Name</td>
      <td><a th:href="@{'/details/' + ${article.id}}">View Details</a></td>
      <td><a th:href="@{'/edit/' + ${article.id}}" class="btn btn-primary">Edit</a></td>
      <td><a th:href="@{/users}" class="btn btn-primary">USERLIST</a></td>

    </tr>
    </tbody>
  </table>
  <a class="btn btn-primary" href="/new">Add New Article</a>
</main>
<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">&copy; 2024 Anderlechtse Gazette</span>
  </div>
</footer>


</body>
</html>
